---
interface Props {
  slot_id: string;
  format?: string;
}

const { slot_id, format = 'auto' } = Astro.props;
---

<div class="ad-slot my-4">
  <ins
    class="adsbygoogle"
    style="display:block"
    data-ad-client="ca-pub-5875172877751463"
    data-ad-slot={slot_id}
    data-ad-format={format}
    data-full-width-responsive="true"
  ></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
